<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <div id="gConnect">
            <button class="g-signin"
                data-scope="https://www.googleapis.com/auth/plus.login"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                data-clientId="488923777910.apps.googleusercontent.com"
                data-callback="onSignInCallback"
                data-theme="dark"
                data-cookiepolicy="single_host_origin">
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a href="https://plus.google.com/hangouts/_?gid=488923777910" style="text-decoration:none;">
          <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png"
            alt="Start a Hangout"
            style="border:0;width:230px;height:60px;"/>
        </a>
    </div>
</div>

<script type="text/javascript">
(function() {
  var po = document.createElement('script');
  po.type = 'text/javascript'; po.async = true;
  po.src = 'https://plus.google.com/js/client:plusone.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(po, s);
})();
</script>