{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="shortcut icon" href="{% static 'images/ico/favicon.png' %}">
   <title>Review</title>

   <!--Bootstrap core CSS -->
   <link href="{% static 'js/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

   <!--Custom styles for this template -->
   <link href="{% static 'css/review.css' %}" rel="stylesheet">

   <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="/assets/js/html5shiv.js"></script>
     <script src="/assets/js/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#"><img src="{% static 'images/review-logo.png' %}"></a>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav pull-right">
           <li><a href="{% static '/review' %}">Sign in</a></li>
           <li class="sign-up"><div><a class="btn btn-success" href="https://reviewtn.foxycart.com/cart?name=Review%20Subscription&price=20&code=review&sub_frequency=1M&cart=checkout&empty=true">Sign up</a></div></li>           
         </ul>
       </div><!--/.navbar-collapse -->
     </div>
   </div>


    <!-Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Get feedback without the feedback</h1>
        <img src="/static/images/product_demo.gif">
      </div>
    </div>

    <div class="main-content">
      <div class="container" style="padding-top:30px;">

        <!-Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Presentation Continuity</h2>
            <img src="/static/images/presentation.jpg ">
            <p>Facilitate your product demos with confidence and control. Get the feedback when you want it, in the format you want it in.</p>
          </div>
          <div class="col-lg-4">
            <h2>Time Travel</h2>
            <img src="/static/images/time_travel-1.jpg">
            <p>Capture your Sprint Reviews completely, from release notes, to video to feedback sessions. Revisit previous sessions at anytime, streamed right to your browser.</p>
         </div>
          <div class="col-lg-4">
            <h2>World Class Format</h2>
            <img src="/static/images/world_class.jpg">
            <p>Presentation workflows innovated by the people who present product for a living. Not only did we collaborate with some of the best Agile minds in the area, we made them help build it too.</p>
          </div>
        </div>
      </div>
    </div>

    <footer>

      <img src="/static/images/review-logo-white.png" class="grey-logo">
      <p>&copy; Review 2013</p>
    </footer>
    <div class="hack-nashville clearfix">
      <a href="http://hacknashville.com/" class="pull-left"><img src="/static/images/hack-nashville-logo.png"></a>
      <p class="pull-left">This product was created during <a href="http://hacknashville.com/">Hack Nashville</a>.</p>
    </div>

   <script src="{% static 'js/bower_components/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'js/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
 </body>
</html>
