{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/img/ico/favicon.png">

    <title>Package Archive | Review</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'js/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/review-app.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="package-archive">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static 'images/review-logo.png' %}"></a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
          <ul class="nav navbar-nav pull-right">
            <li><a href="#">Sign out</a></li>            
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
        <div class="section-header">
            <h1>Review Catalog</h1>
        </div>
        <div class="row">
          <div class="col-md-3 add package">
            <div class="package-content">
                <p>+</p>
            </div>
            <p>Create a new session.</p>
          </div>
            {% for package in packages %}
          <div class="col-md-3 package">
            <div class="package-content" style="background:url( 'http://img.youtube.com/vi/{{ package.youtube_id }}/0.jpg' );">
                <!-- http://img.youtube.com/vi/{{ package.youtube_id }}/0.jpg -->
                <h2><a href="../package/{{ package.id }}">{{ package.title }}</a></h2>
                <span class="glyphicon glyphicon-play-circle"></span>
            </div>
            <p>{{ package.start|date:"l, F dS, Y" }}</p>
          </div>
            {% endfor %}
        </div>
    </div> <!-- /container -->
    <footer>
      <img src="/static/images/review-logo-white.png" class="grey-logo">
      <p>&copy; Review 2013</p>
    </footer>
  </body>
</html>
