.navbar {
	border-radius:0;
}

.navbar-header a {
	margin:0;
	padding:5px 20px 0 20px;
}

.navbar-header img {
	height:35px;
}

footer {
	background:#bf1e2e;
	padding-top:20px;
	border: 1px solid transparent;
}

footer img {
	display:block;
	margin:0 auto;
}

footer p {
	color:#e75261;
	padding-bottom:20px;
	text-align:center;
}

/*
	FoxyCart Checkout and Receipt Styles
*/

#fc_receipt_container, #fc_checkout_container {
	padding-top: 50px;
	margin-top: 50px;
	padding-bottom: 0px;
}

/*
	Package list
*/

body.package-archive .section-header {
	margin-top:70px;
}

body.package-archive .row {
	margin-bottom:50px;
	min-height:450px;
}

.package {
	margin-top:30px;
}

.add .package-content {
	background:#ddd;
}

.add .package-content:hover {
	background:#fff;
}

.add .package-content p {
	color:#777;
	display:block;
	font-size:100px;
	font-weight:bold;
	margin:0 auto;
	padding:10px 0 0 0;
	text-align:center;
}

.package-content {
	background-color:#777;
	border:1px solid #aaa;
	border-bottom:10px solid #aaa;
	cursor:pointer;
	height:200px;
	position:relative;
	transition: background-color 0.25s ease;
}

.package-content:hover {
	background-color:#aaa;
}

.package-content:hover span {
	color:#333;
}

.package-content h2 {
	color:#fff;
	display:block;
	font-size:20px;
	font-weight:normal;
	line-height:25px;
	margin:0;
	padding:10px;

	text-shadow:0px 1px 1px #000;
}

.package-content span {
	color:#777;
	display:block;
	font-size:50px;
	right:0;
	left:0;
	padding-right:20px;
	position:absolute;
	top:auto;
	bottom:20px;
	text-align:right;
	transition: color 0.25s ease;
}

.package p {
	font-size:12px;
	margin-top:10px;
}