/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.sign-up {
	padding:8px 0 0 0;
}

.jumbotron {
	background-color:#7ef7ff;
	padding-top:40px;
	padding-bottom:0;
	position:fixed;
	right:0;
	left:0;
	z-index:-1;
}

.jumbotron h1 {
	font-size:50px;
	font-weight:800;
}

.jumbotron img {
	background:white;
	display:block;
	margin:50px auto 0 auto;
	width:700px;
	height:300px;
}

.btn.get-started {
	margin-top:30px;
}

.main-content {
	background-color:white;
	border-top:3px solid #ccc;
	margin-top:450px;
	width:100%;
}

.main-content img {
	margin-bottom:20px;
	width:300px;
	height:150px;
}


/*
	Package list
*/

.package {
	margin-top:30px;
}

.add .package-content {
	background:#ddd;
}

.add .package-content:hover {
	background:#fff;
}

.add .package-content p {
	color:#777;
	display:block;
	font-size:100px;
	font-weight:bold;
	margin:0 auto;
	padding:30px 0 0 0;
	text-align:center;
}

.package-content {
	background-color:#777;
	border:1px solid #aaa;
	border-bottom:10px solid #aaa;
	cursor:pointer;
	height:200px;
	position:relative;
	transition: background-color 0.25s ease;
}

.package-content:hover {
	background-color:#aaa;
}

.package-content:hover span {
	color:#333;
}

.package-content h2 {
	color:#fff;
	display:block;
	font-size:20px;
	font-weight:normal;
	line-height:25px;
	margin:0;
	padding:10px;

	text-shadow:0px 1px 1px #000;
}

.package-content span {
	color:#777;
	display:block;
	font-size:50px;
	right:0;
	left:0;
	padding-right:20px;
	position:absolute;
	top:auto;
	bottom:20px;
	text-align:right;
	transition: color 0.25s ease;
}

.package p {
	font-size:12px;
	margin-top:10px;
}

/*
	Package - presenter
*/

body.package {
	background-color:#444;
}

.actions h3 {
	color:white;
	margin-top:0;
}

.actions .btn-group {
	margin-bottom:10px; 
}

.actions .btn {
	background:#333;
	border-color:#888;
	color:#999;
}

.actions .btn:hover {
	background-color:#333; 
	color:#fff;
}

.actions .btn.active {
	background-color:#1e8823;
	color:#fff;
}

.actions .btn.active:hover {
	cursor:default;
}

.actions .pause {
	margin-left:10px;
}

.video {
	background-color:#aaa;
	margin-bottom:20px;
	width:100%;
	height:400px;
}

.attendees .list-group {
	background-color:#333;
	color:#fff;
	overflow-y:scroll;
	max-height:500px;
}

.attendees .list-group-item {
	background-color:#333;
	border-color:#888;
	border-left-width:5px;
	border-radius:0;
	color:#999;
}

.attendees .list-group-item.online {
	border-left-color:#1e8823;
	color:#ccc;
}



/*
	Media Queries
*/

@media (min-width: 992px) {
	.col-lg-4 {
		float:left;
		width:33.3%;
	}
}

@media (max-width: 991px) {
	.col-lg-4 img {
		display:block;
		margin:0 auto;
		margin-bottom:20px;
	}
	.col-lg-4 h2 {
		text-align:center;
	}
}
